<h3>Registered Accounts</h3>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>NAME ACCOUNT</th>
            <th>BALANCE</th>
        </tr>
    </thead>


    @{
        foreach (var item in (List<AccountModel>)ViewBag.ListAccount)
        {
            <tbody>
                <tr>
                    <th><button type="button" class="btn btn-danger" onclick="Delete(@item.Id.ToString())">Delete</button></th>
                    <th>@item.Id.ToString()</th>
                    <th>@item.NameAccount.ToString()</th>
                    <th>R$ @item.Balance.ToString()</th>
                </tr>
            </tbody>

        }
    }

</table>

<button type="button" class="btn btn-block btn-primary" onclick="CreateAccount()">Create an account</button>

<script>
    function CreateAccount()
    {
        window.location.href = "../Account/CreateAccount";
    }

    function Delete(Id)
    {
        window.location.href = "../Account/DeleteAccount/" + Id;
    }
</script>