@model UserModel

@{
    try
    {
        if (TempData["MensageLoginInvalid"].ToString() != null)
        {
            <div class="alert alert-danger">
                <strong>Attention!</strong> @TempData["MensageLoginInvalid"]
            </div>
        }
    }
    catch { }
}

<form asp-controller="User" asp-action="ValidateLogin">
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" asp-for="Email_Adress">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" asp-for="Password">
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox"> Remember me Access
        </label>
    </div>
    <button type="submit" class="btn btn-primary">Log in</button>
</form>

