<div class="row">
    <div class="col-lg-6">
        <button type="button" class="btn btn-block btn-primary"><a href="../User/Login" style="color:aliceblue;">Log into the system</a></button>
   </div>

    <div class="col-lg-6">
    <button type="button" class="btn btn-block btn-success"><a href="../User/Register" style="color:aliceblue;">Register an account</a></button>
    </div>

</div>
