@model PlaneAccountModel

 <h3>Create Chart of Accounts</h3>

@{
    var tempId = 0;
    var tempDescription = "";
    var tempType = "";

    try
    {
        tempId = int.Parse(ViewBag.Records.Id.ToString());
        tempDescription = ViewBag.Records.Description.ToString();
        tempType = ViewBag.Records.Type.ToString();
    }
    catch { }
 }

<form asp-controller="PlaneAccount" asp-action="CreatePlaneAccount">
    <input type="hidden" asp-for="Id" value="@tempId"/>

    <div class="form-group">
        <label>Description:</label>
        <input type="text" class="form-control" asp-for="Description" value="@tempDescription">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Type:</label>

        @{
            if (tempType == "R")
            {
                <div class="radio"><label><input type="radio" asp-for="Type" value="R" checked>Recipe</label></div>
                <div class="radio"><label><input type="radio" asp-for="Type" value="E" unchecked>Expense</label></div>
            }
            else
            {
                <div class="radio"><label><input type="radio" asp-for="Type" value="R" unchecked>Recipe</label></div>
                <div class="radio"><label><input type="radio" asp-for="Type" value="E" checked>Expense</label></div>
            }
        }
    </div>
    <button type="submit" class="btn btn-block btn-success">Register</button>
</form>